QToolButton[type] {
	min-width: 30px;
	min-height: 30px;
	max-width: 30px;
	max-height: 30px;

	border-style: none;
}


/* ---------- */
QToolButton[type='add'] {
	background: url(:/add.png) no-repeat center;
}

QToolButton[type='edit'] {
	background: url(:/edit.png) no-repeat center;
}

QToolButton[type='remove'] {
	background: url(:/remove.png) no-repeat center;
}

QToolButton[type='cancel'] {
	background: url(:/cancel.png) no-repeat center;
}

QToolButton[type='spyglass'] {
	background: url(:/spyglass.png) no-repeat center;
}


/* Hover */
QToolButton[type='add']:hover {
	background-image: url(:/hover/add.png);
}

QToolButton[type='edit']:hover {
	background-image: url(:/hover/edit.png);
}

QToolButton[type='remove']:hover {
	background-image: url(:/hover/remove.png);
}

QToolButton[type='cancel']:hover {
	background-image: url(:/hover/cancel.png);
}

QToolButton[type='spyglass']:hover {
	background-image: url(:/hover/spyglass.png);
}


/* disabled */
QToolButton[type='add']:disabled {
	background-image: url(:/disabled/add.png);
}

QToolButton[type='edit']:disabled {
	background-image: url(:/disabled/edit.png);
}

QToolButton[type='remove']:disabled {
	background-image: url(:/disabled/remove.png);
}

QToolButton[type='cancel']:disabled {
	background-image: url(:/disabled/cancel.png);
}

QToolButton[type='spyglass']:disabled {
	background-image: url(:/disabled/spyglass.png);
}


/* Pressed */
QToolButton[type]:pressed {
	margin-top: 3px;
	margin-left: 3px;
}
